div.contacts
  div.contacts-inner
    div.contact-form-wrapper
      h2.title GIVE US A GOOD NEWS
      form.contact-form(action="#")
        input.contact-form-input(type="text", name="name" placeholder="Name")
        input.contact-form-input(type="email", name="email" placeholder="Email")
        input.contact-form-input(type="text", name="subject" placeholder="Subject")
        textarea.contact-form-textarea(name="message" placeholder="Your message")
        input.button.button-submit(type="submit", value="SUBMIT")
    div.client-wrapper
      h2.title OUR HAPPY CLIENT
      div.client-container
        div.client
          img(src="images/zara-client-logo.png", alt="Zara logo")
        div.client
          img(src="images/mango-client-logo.png", alt="Mango logo")
        div.client
          img(src="images/barneys-client-logo.png", alt="Barneys New York logo")
        div.client
          img(src="images/gucci-client-logo.png", alt="Gucci logo")
        div.client
          img(src="images/ck-client-logo.png", alt="Calvin Klein logo")
        div.client
          img(src="images/nike-client-logo.png", alt="Nike logo")
        div.client
          img(src="images/converse-client-logo.png", alt="Converse logo")
        div.client
          img(src="images/puma-client-logo.png", alt="Puma logo")
        div.client
          img(src="images/levis-client-logo.png", alt="Levi`s logo")
        div.client
          img(src="images/billabong-client-logo.png", alt="Billabong logo")                  
