div.expertise
  div.expertise-inner
    h2.title EXPERTISE
    h3.subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
    div.expertise-content
      div.expertise-content-item
        img.expertise-content-item-img(src="images/monitor-icon.png" alt="monitor icon")
        h3.expertise-content-item-title WEB DESIGN & DEVELOPMENT
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.
      div.expertise-content-item
        img.expertise-content-item-img(src="images/brush-icon.png" alt="brush icon")
        h3.expertise-content-item-title BRANDING IDENTITY
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.
      div.expertise-content-item
        img.expertise-content-item-img(src="images/mobile-phone-icon.png" alt="mobile icon")
        h3.expertise-content-item-title MOBILE APP
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.
      div.expertise-content-item
        img.expertise-content-item-img(src="images/diagram-icon.png" alt="diagram icon")
        h3.expertise-content-item-title SEARCH ENGINE OPTIMIZATION
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.
      div.expertise-content-item
        img.expertise-content-item-img(src="images/console-icon.png" alt="console icon")
        h3.expertise-content-item-title GAME DEVELOPMENT
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.
      div.expertise-content-item
        img.expertise-content-item-img(src="images/heart-icon.png" alt="heart icon")
        h3.expertise-content-item-title MADE WITH LOVE
        div.expertise-content-item-description 
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet Aenean.                              