footer.footer
  div.footer-inner
    div.footer-columns
      div.footer-left-column
        a.footer-logo(href="#")
          img(src="images/footer-logo.png", alt="Footer logo")
        div.footer-description
          p.
            lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. 
            Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
      div.footer-contacts-column
        h3.footer-title OUR STUDIO
        a.footer-contact-link(href="#").
          Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
          11480 - Indonesia
        a.footer-contact-link.phone-link(href="tel:+622122243333") (+62) 21-2224 3333
      div.footer-right-column
        h3.footer-title STAY IN TOUCH
        form.newsletter
          input.email(type="email" placeholder="Subscribe our newsletter")
          input.submit(type="submit" value="")
        div.footer-social
          a.foter-social-link.faceboock(href="")
          a.foter-social-link.twitter(href="")
          a.foter-social-link.dribble(href="")
          a.foter-social-link.instagram(href="")
          a.foter-social-link.google-plus(href="")
          a.foter-social-link.youtube(href="")
    div.footer-info-and-copy
      nav.footer-info
        a.footer-info-item(href="#") HELP                 
        a.footer-info-item(href="#") TERMS & CONDITION
        a.footer-info-item(href="#") PRIVACY
      div.footer-copyright
        p Copyright &copy; 2015 - Tajem Creative