header.header
  div.header-inner
    a.header-logo
      img(src="images/logo.png", alt="Logo")
    div.menu-toggle
      div.line
      div.line
      div.line  
    nav.header-menu
      a.header-menu-link(href="#") HOME
      a.header-menu-link(href="#") ABOUT
      a.header-menu-link(href="#") EXPERTISE
      a.header-menu-link(href="#") TEAMS
      a.header-menu-link(href="#") WORKS
      a.header-menu-link(href="#") PEOPLE SAY
      a.header-menu-link(href="#") CONTACT
nav.header-mobile-menu
  ul
    li
      a.header-mobile-menu-link(href="#") HOME
    li  
      a.header-mobile-menu-link(href="#") ABOUT
    li 
      a.header-mobile-menu-link(href="#") EXPERTISE
    li  
      a.header-mobile-menu-link(href="#") TEAMS
    li
      a.header-mobile-menu-link(href="#") WORKS
    li
      a.header-mobile-menu-link(href="#") PEOPLE SAY
    li
      a.header-mobile-menu-link(href="#") CONTACT
            