div.home
  include _header
  div.home-inner
    div.home-slider
      div.home-slider-slide
        h1.home-title We Are Awesome Creative Agency
        div.home-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis 
            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi 
            accumsan ipsum velit.
        a.button(href='#') LEARN MORE
      div.home-slider-slide
        h1.home-title We Are Awesome Creative Agency
        div.home-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis 
            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi 
            accumsan ipsum velit.
        a.button(href='#') LEARN MORE
      div.home-slider-slide
        h1.home-title We Are Awesome Creative Agency
        div.home-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis 
            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi 
            accumsan ipsum velit.
        a.button(href='#') LEARN MORE
      div.home-slider-slide
        h1.home-title We Are Awesome Creative Agency
        div.home-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis 
            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi 
            accumsan ipsum velit.
        a.button(href='#') LEARN MORE      