div.portfolio
  div.portfolio-inner
    div.portfolio-title-container
      h2.title OUR WORKS
      a.portfolio-link(href="#") See All Project in dribbble >
    div.gallery
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item-2.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item-2.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item-2.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item-2.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item-2.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item-2.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item-2.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item-2.jpg", alt="portfolio item")
      a.gallery-item(href="images/portfolio-item.jpg" data-fancybox="gallery")
        img(src="images/portfolio-item.jpg", alt="portfolio item")                           
    a.button(href="#") LOAD MORE     
        