div.reviews
  div.reviews-inner
    div.reviews-sl
      div.reviews-sl-slide
        h2.reviews-sl-slide-title “
        div.reviews-sl-slide-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec 
            tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat 
            consequat auctor eu in elit.
        p.reviews-sl-slide-people-name Linda Austin
        p.reviews-sl-slide-people-position CEO
      div.reviews-sl-slide
        h2.reviews-sl-slide-title “
        div.reviews-sl-slide-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec 
            tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat 
            consequat auctor eu in elit.
        p.reviews-sl-slide-people-name Virgil Jones
        p.reviews-sl-slide-people-position SOFTWARE ENGINEER
      div.reviews-sl-slide
        h2.reviews-sl-slide-title “
        div.reviews-sl-slide-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec 
            tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat 
            consequat auctor eu in elit.
        p.reviews-sl-slide-people-name JANE GALADRIEL
        p.reviews-sl-slide-people-position CEO TENGKUREP
      div.reviews-sl-slide
        h2.reviews-sl-slide-title “
        div.reviews-sl-slide-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec 
            tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat 
            consequat auctor eu in elit.
        p.reviews-sl-slide-people-name Leslie Townsend
        p.reviews-sl-slide-people-position DATA SCIENTIST
      div.reviews-sl-slide
        h2.reviews-sl-slide-title “
        div.reviews-sl-slide-description
          p.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec 
            tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat 
            consequat auctor eu in elit.
        p.reviews-sl-slide-people-name Clifford Sullivan
        p.reviews-sl-slide-people-position DESIGNER        
    div.reviews-sl-min
      div.reviews-sl-min-slide
        img(src="images/reviews-human.png" alt="Photo by CEO Linda Austin")
      div.reviews-sl-min-slide
        img(src="images/reviews-human-2.png" alt="Photo by software enginer Virgil Jones")
      div.reviews-sl-min-slide
        img(src="images/reviews-human-3.png" alt="Photo by CEO tengkurep Jane Galadriel")
      div.reviews-sl-min-slide
        img(src="images/reviews-human-4.png" alt="Photo by data scientist Leslie Townsend")
      div.reviews-sl-min-slide
        img(src="images/reviews-human-5.png" alt="Photo by designer Clifford Sullivan")