div.team
  div.team-inner
    h2.title.team-title MEET OUR AMAZING TEAM
    h3.subtitle.team-subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
    div.team-content
      div.team-member
        img.team-member-photo(src="images/team-member-ceo.jpg" alt="Photo CEO")
        div.team-member-description
          h3.team-member-name SEMF UCUK
          p.team-member-position CEO & FOUNDER
      div.team-member
        img.team-member-photo(src="images/team-member-engineer.jpg" alt="Photo enginer")
        div.team-member-description
          h3.team-member-name DIK ADALIN
          p.team-member-position ENGINEERING
      div.team-member
        img.team-member-photo(src="images/team-member-designer.jpg" alt="Photo of the designer")
        div.team-member-description
          h3.team-member-name JENG KOL
          p.team-member-position DESIGNER
      div.team-member
        img.team-member-photo(src="images/team-member-marketer.jpg" alt="Photo marketer")
        div.team-member-description
          h3.team-member-name PET ROMAK
          p.team-member-position MARKETING
    p.team-ofer Become part of our dream team, let’s join us !
    a.button WE ARE HIRING               