.up-btn {
	display: inline-block;
	background-color: #483679;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 50px;
	right: 50px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
    z-index: 1000;
    &::after {
        content: "\f077";
        font-family: FontAwesome;
        font-size: 30px;
        line-height: 50px;
        color: white;
    }
    &:hover {
        background-color: #2e2549;
    }
    &:active {
        background-color: #635788;
    }
  }

#up-btn-js.show {
    opacity: 1;
	visibility: visible;
}

@media (max-width: 720px) {
    .up-btn {
        width: 35px;
        height: 35px;
        bottom: 25px;
        right: 25px;
        &::after {
            font-size: 20px;
            line-height: 35px;
        }
      }
}